.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 8px 4px;
    color: white;
    background: #2874f0;
    border: 1px solid white;
    box-shadow: 10px;
    cursor: pointer;
}

.my-2{
    margin: 15px 0 0 0;
}

.my-1{
    margin: 5px 0;
}

.text-center{
    text-align: center;
}

.box1{
    margin: 0px 0px 0px 100px;
}